
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
 </head>
 <body>
    <h2>Crear Nuevo Usuario</h2>

<form action="/admin/create-user" method="post">
    <label for="username">Nombre de Usuario:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Rol:</label>
    <select id="role" name="role" required>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
    </select><br>

    <button type="submit">Crear Usuario</button>
</form>

<a href="/admin">Volver al Panel de Administración</a>
    
 </body>
 </html>