<div>
    <div>
        <img src="" alt="">
        <div>
            <img src="" alt="">
            <p>3204530253</p>
            <img src="" alt="">
            <p>crists.c.a@hotmail.com</p>
            <img src="" alt="">
            <p>cra 9 # 49 h 33 sur</p>
        </div>
    </div>

    <div>
        <div>
            <li>
                <a href="">inicio</a>
            </li>
            <li>
                <a href="">Nosotros</a>
            </li>
            <li>
                <a href="">contacto</a>
            </li>
        </div>

        <div>
            <a href="">
                <img src="" alt="">
            </a>

            <a href="">
                <img src="" alt="">
            </a>

            <a href="">
                <img src="" alt="">
            </a>

            <a href="">
                <img src="" alt="">
            </a>
        </div>

    </div>
    <div>
        <p>© 2021 Todos los derechos reservados</p>
    </div>
</div>