<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Document</title>
</head>
<body class=" flex flex-col items-center min-h-screen justify-center bg-gray-200">
    <header class=" flex flex-col items-center justify-center  bg-gray-200">
        <h1>Gestion de usuarios</h1>
        <nav>
            <%- include('nav') %>
        </nav>
    </header>
    <main class="flex flex-col items-center justify-center h-screen bg-gray-200">
        <div>
            <h2>Usuarios</h2>
            <ul>
                <li><a href="/users">ver usuarios</a></li>
                <li><a href="/users/create">crear usuario</a></li>
                <li><a href="/login">Login</a></li>
        </div>
    </main>

    <footer>
        <!-- <%- include('footer') %> -->
    </footer>
</body>
</html>